<div class="card mb-3" style="margin-top: 30px;">
  <img [src]="estate.informations.photoUrl" class="card-img-top" alt="Photo" style="height: 500px; object-fit: cover">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h5 class="card-title">{{ estate.informations.title }} - <em
              class="surface">{{ estate.informations.surface }}m2</em></h5>
          <p class="card-text description">{{ estate.informations.description }}</p>
          <p>Référence : <em class="reference">{{ estate.informations.reference }}</em></p>
        </div>
        <div class="col-6">
          <h2 style="text-align: right; color:blue">{{ estate.informations.price }} € </h2>
          <button class="btn btn-primary" [routerLink]="['../../estate-create', estate.id]"
            style="margin: 10px; float: right;">
            Éditer
          </button>
        </div>
      </div>
    </div>

    <agm-map [latitude]="estate.location.latitude" [zoom]="15" [longitude]="estate.location.longitude">
      <agm-marker [latitude]="estate.location.latitude" [longitude]="estate.location.longitude"></agm-marker>
    </agm-map>
  </div>