.description {
  color: gray;
}

.surface {
  font-weight: 700;
  font-style: normal;
}

.reference {
  font-weight: 500;
  font-style: normal;
}

agm-map {
  margin: 0px;
  margin-top: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 500px;
  border-radius: 10px;
}