<agm-map [latitude]="47.082088" [zoom]="6" [longitude]="2.396592">
  <agm-marker *ngFor="let estate of estates" [latitude]="estate.location.latitude" [longitude]="estate.location.longitude"></agm-marker>
</agm-map>