<div class="container mt-5" style="margin-bottom: 40px;">
	<h1>Liste des propriétaires</h1>

	<table class="table table-striped">
        <thead>
            <tr>
                <th>Nom de famille</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Adresse 1</th>
                <th>Adresse 2</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let owner of owners">
                <td>{{ owner.lastName }}</td>
                <td>{{ owner.firstName }}</td>
                <td>{{ owner.birthday }}</td>
                <td>{{ owner.address1 }}</td>
                <td>{{ owner.address2 }}</td>
                <td>{{ owner.postalCode }}</td>
                <td>{{ owner.city }}</td>
                <td>
                    <button class="btn btn-primary" [routerLink]="['../owner-create', owner.id]">
                        Éditer
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="remove(owner)">
                        Supprimer
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>