<div class="container mt-5" style="margin-bottom: 40px;">
    <h1 style="margin-bottom: 50px;">Liste des biens</h1>

    <div class="card-columns">
        <div class="card" [routerLink]="['../estate-details', estate.id]" *ngFor="let estate of estates">
            <img class="card-img-top" [src]="estate.informations.photoUrl" alt="Photo" style="height: 250px; object-fit: cover">
            <div class="card-body">
                <h6 class="card-title">{{ estate.informations.reference }} - {{ estate.informations.title }} - {{ estate.informations.surface }}m2 - {{ estate.informations.price }} €</h6>
                <p class="card-text">{{ estate.informations.description }}</p>
            </div>

            <button class="btn btn-danger" (click)="remove(estate)" style="margin: 10px;">
                    Supprimer
            </button>
        </div>
    </div>
</div>