<div class="container mt-5" style="margin-bottom: 40px;">
	<h1 style="margin-bottom: 40px;">Ajouter un bien</h1>

	<h3>Localisation</h3>
	<form [formGroup]="estateForm" (ngSubmit)="submit()">
		<!-- Address 1 -->
		<div class="form-group">
			<label>Adresse 1</label>
			<input formControlName="address1" type="text" placeholder="Adresse 1" class="form-control"
				(ngModel)="address1">
			<span class="badge badge-danger" *ngIf="!estateForm.controls.address1.valid">
				Ce champs est requis
			</span>
		</div>

		<!-- Address 2 -->
		<div class="form-group">
			<label>Adresse 2</label>
			<input formControlName="address2" type="text" placeholder="Adresse 2" class="form-control"
				(ngModel)="address2">
			<span class="badge badge-danger" *ngIf="!estateForm.controls.address2.valid">
				Ce champs est requis
			</span>
		</div>

		<!-- Postal code -->
		<div class="form-group">
			<label>Code postal</label>
			<input formControlName="postalCode" type="text" placeholder="49100" class="form-control"
				(ngModel)="postalCode">
			<span class="badge badge-danger" *ngIf="!estateForm.controls.postalCode.valid">
				Ce champs est requis
			</span>
		</div>

		<!-- City -->
		<div class="form-group">
			<label>Ville</label>
			<input formControlName="city" type="text" placeholder="Angers" class="form-control" (ngModel)="city">
			<span class="badge badge-danger" *ngIf="!estateForm.controls.city.valid">
				Ce champs est requis
			</span>
		</div>

		<!-- Sector -->
		<div class="form-group">
			<label>Secteur</label>
			<input formControlName="sector" type="text" placeholder="Secteur" class="form-control" (ngModel)="sector">
			<span class="badge badge-danger" *ngIf="!estateForm.controls.sector.valid">
				Ce champs est requis
			</span>
		</div>

		<!-- Country -->
		<div class="form-group">
			<label>Pays</label>
			<input formControlName="country" type="text" placeholder="France" class="form-control"
				(ngModel)="country">
			<span class="badge badge-danger" *ngIf="!estateForm.controls.country.valid">
				Ce champs est requis
			</span>
		</div>

		<!-- Latitude -->
		<div class="form-group">
			<label>Latitude</label>
			<input formControlName="latitude" type="number" placeholder="47.04662345" class="form-control"
				(ngModel)="latitude">
			<span class="badge badge-danger" *ngIf="!estateForm.controls.latitude.valid">
				Ce champs est requis
			</span>
		</div>

		<!-- Longitude -->
		<div class="form-group">
			<label>Longitude</label>
			<input formControlName="longitude" type="number" placeholder="0.54662345" class="form-control"
				(ngModel)="longitude">
			<span class="badge badge-danger" *ngIf="!estateForm.controls.longitude.valid">
				Ce champs est requis
			</span>
		</div>

		<!-- Informations -->
		<h3 style="margin-top: 50px;">Informations</h3>

		<!-- Photo URL -->
		<div class="form-group">
			<label>URL de la photo</label>
			<input formControlName="photoUrl" type="text" placeholder="URL" class="form-control" (ngModel)="photoUrl">
			<span class="badge badge-danger" *ngIf="!estateForm.controls.photoUrl.valid">
				Ce champs est requis
			</span>
		</div>

		<!-- Title -->
		<div class="form-group">
			<label>Titre</label>
			<input formControlName="title" type="text" placeholder="Titre" class="form-control" (ngModel)="title">
			<span class="badge badge-danger" *ngIf="!estateForm.controls.title.valid">
				Ce champs est requis
			</span>
		</div>

		<!-- Description -->
		<div class="form-group">
			<label>Description</label>
			<input formControlName="description" type="text" placeholder="Description" class="form-control"
				(ngModel)="description">
			<span class="badge badge-danger" *ngIf="!estateForm.controls.description.valid">
				Ce champs est requis
			</span>
		</div>

		<!-- Price -->
		<div class="form-group">
			<label>Prix</label>
			<input formControlName="price" type="number" placeholder="150 000 €" class="form-control"
				(ngModel)="price">
			<span class="badge badge-danger" *ngIf="!estateForm.controls.price.valid">
				Ce champs est requis
			</span>
		</div>

		<!-- Surface -->
		<div class="form-group">
			<label>Surface (m2)</label>
			<input formControlName="surface" type="number" placeholder="130" class="form-control" (ngModel)="surface">
			<span class="badge badge-danger" *ngIf="!estateForm.controls.surface.valid">
				Ce champs est requis
			</span>
		</div>

		<!-- Owner -->
		<div class="form-group">
			<label>Propriétaire</label>
			<select formControlName="owner" class="form-control">
				<option value=""></option>
				<option [value]='owner.id' *ngFor="let owner of owners" [selected]='selectedOwnerId == estate.informations.owner.id'>{{ owner.id }} - {{ owner.firstName }} {{ owner.lastName }}</option>
			</select>
			<span class="badge badge-danger" *ngIf="!estateForm.controls.owner.valid">
				Ce champs est requis
			</span>
		</div>

		<!-- Reference -->
		<div class="form-group">
			<label>Référence du bien</label>
			<input formControlName="reference" type="text" placeholder="VA0394" class="form-control"
				(ngModel)="reference">
			<span class="badge badge-danger" *ngIf="!estateForm.controls.reference.valid">
				Ce champs est requis
			</span>
		</div>

		<div class="alert alert-success" *ngIf="success">
			Vous venez d'ajouter un bien
		</div>

		<!--<button type="submit" class="btn btn-primary" [disabled]="!address1 || !address2 || !postalCode || !city || !sector || !country || !latitude || !longitude || !photoUrl || !title || !description || !price || !surface || !owner || !reference">-->
		<button type="submit" class="btn btn-primary" [disabled]="!address1">
			Sauvegarder
		</button>
	</form>
</div>