<div class="container mt-5" style="margin-bottom: 40px;">
	<h1>Ajouter un propriétaire</h1>

	<form [formGroup]="ownerForm" (ngSubmit)="submit()">
        <!-- Last name -->
		<div class="form-group">
			<label>Nom de famille</label>
			<input formControlName="lastName" type="text" placeholder="Dupont" class="form-control" (ngModel)="lastName">
			<span class="badge badge-danger" *ngIf="!ownerForm.controls.lastName.valid">
				Ce champs est requis
			</span>
		</div>
		
        <!-- First name -->
        <div class="form-group">
			<label>Prénom</label>
			<input formControlName="firstName" type="text" placeholder="Jean" class="form-control" (ngModel)="firstName">
			<span class="badge badge-danger" *ngIf="!ownerForm.controls.firstName.valid">
				Ce champs est requis
			</span>
		</div>
		
        <!-- Birthday -->
        <div class="form-group">
            <label>Date de naissance</label>
            <div class='input-group date' id='datetimepicker1'>
                <input formControlName="birthday" type="date" placeholder="21/01/1997" class="form-control" (ngModel)="birthday">
                <span class="add-on"><i class="icon-th"></i></span>
            </div>
            <span class="badge badge-danger" *ngIf="!ownerForm.controls.birthday.valid">
                    Ce champs est requis
            </span>
		</div>
		
        <!-- Address 1 -->
        <div class="form-group">
			<label>Adresse 1</label>
			<input formControlName="address1" type="text" placeholder="Adresse 1" class="form-control" (ngModel)="address1">
			<span class="badge badge-danger" *ngIf="!ownerForm.controls.address1.valid">
				Ce champs est requis
			</span>
		</div>
		
        <!-- Address 2 -->
        <div class="form-group">
			<label>Adresse 2</label>
			<input formControlName="address2" type="text" placeholder="Adresse 2" class="form-control" (ngModel)="address2">
        </div>
        <!-- Postal code -->
        <div class="form-group">
			<label>Code postal</label>
			<input formControlName="postalCode" type="text" placeholder="49100" class="form-control" (ngModel)="postalCode">
			<span class="badge badge-danger" *ngIf="!ownerForm.controls.postalCode.valid">
				Ce champs est requis
			</span>
		</div>
		
        <!-- City -->
        <div class="form-group">
			<label>Ville</label>
			<input formControlName="city" type="text" placeholder="Angers" class="form-control" (ngModel)="city">
			<span class="badge badge-danger" *ngIf="!ownerForm.controls.city.valid">
				Ce champs est requis
			</span>
		</div>

		<div class="alert alert-success" *ngIf="success">
			Vous venez d'ajouter une tâche
		</div>

		<button type="submit" class="btn btn-primary" [disabled]="!lastName || !firstName || !birthday || !address1 || !postalCode || !city">
			Sauvegarder
		</button>
    </form>
</div>